.user_block
{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
}
.user_block:hover
{
    background-color: #4d4d4d;
}
.user_image
{
    border-radius: 100%;
}
.user_email
{
    overflow: hidden;
    width: 50px;
    box-shadow: inset -8px  0px rgb(0 0 0 / 0.3);

}