.information
{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 40px;
    background-color: rgb(56, 55, 55);
    padding: 10px;
}
.discription
{
    display: flex;
    max-width: 600px;
    flex-direction: column;
    gap: 50px;
}
.photos
{
    width: 100%;
    max-width: 1175px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    gap: 15px;
}
.title
{
    font-size: 46px;
}

.bottom
{

}
.delete_button
{
    width: 110px;
    cursor: pointer;
    background-color: rgb(255, 80, 80);
    padding: 15px;
    margin-left: auto;
    margin-top: 15px;
    border-radius: 5px;
}
.delete_button:hover
{
    background-color: rgb(255, 0, 0);
}