.cover
{
    width: 275px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    padding: 10px 0px;
    
}
.cover:hover .div_title
{

    background-color: rgb(99, 98, 98);
    
}
/* .album_title:hover
{
    background-color: black;
    z-index: 5000;
    position: absolute;
} */
.div_title
{
    
    width: 275px;
    text-align: center;
    overflow-wrap: break-word;
    overflow: hidden;
    margin-top: -3.5px;
    background-color: rgb(77, 77, 77);
    max-height: 40px;
    border-radius: 0px 0px 5px 5px;
}
.album_title
{
    width: 275px;
    text-align: center;
    margin: 5px;
}
.album_cover
{
    width: 275px;
    max-width: 275px;
    max-height: 350px;
    height: auto;
}
